body {
        background-color: #333333;
        color: white;
        height: 100%;
        margin: 0;
    }
.content-div {
}

.navbar-brand {
    margin-bottom: 0px;
}

h2 {
  padding-left: 0.3em;
}

    .rightSide {
        background-color: #333333;
        position: absolute;
        overflow:auto;
        top: 3.5em;
        bottom:0;
        right:0;
        width: 18em;
        z-index: -1;
    }
    .expander {
        text-align: center;
        vertical-align: middle;
        background-color: #222222;
        position: absolute;
        padding-top:2.3%;
        top:45%;
        bottom:45%;
        right:0;
        width: 3em;
        z-index: 100;
    }
    .expander:hover {
        background-color: green;
    }
    .hider {
        text-align: center;
        vertical-align: middle;
        background-color: #222222;
        position: absolute;
        padding-top:2.3%;
        top:45%;
        bottom:45%;
        right:0;
        width: 3em;
        z-index: -100;
    }
    .hider:hover {
        background-color: #AB0000;
    }
    .tab {
        margin-top: 1em;
        padding: 1em;
        background-color: #444444;
        color: white;
        padding-bottom: 4em;
    }
    .right {
        float: right;
        margin-right: 1em;
    }
    .info {
        padding-left: 1em;
        padding-right: 1em;
    }
    .debug {
        padding-left: 1em;
        padding-right: 1em;
    }
    .graphview {
        background-color: #333333;
        position: absolute;
        top: 3.5em;
        bottom:0;
        left:0;
        right:0;
    }
    .overlay {
        position: absolute;
        top:0em;
        bottom:0;
        left:0;
        right:0;
        padding-left:2em;
        padding-right:2em;
        padding-top:2em;
        padding-bottom:2em;
        z-index: 10000;
        color: white;
        background-color: rgba(100, 100, 100, 0.5)
    }
    .inneroverlay {
        position: absolute;
        top: 0;
        bottom:0;
        left: 0;
        right: 0;
        overflow:auto;
        margin-left:2em;
        margin-right:2em;
        margin-top:2em;
        margin-bottom:2em;
        z-index: 101;
        color: white;
        background-color: #333333;
    }
    .node {
        color: white;
        padding: 0.8em;
        width: 12em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left:0.5em;
        margin-bottom:0.4em;
        border: 0px;
    }
    .button {
        color: white;
        padding: 0.2em;
        width: 6em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0.1em;
        border: 0px;
    }
    .button-lg {
        color: white;
        padding: 1em;
        width:100%;
        white-space:nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 0.2em;
        border: 0px;
    }
    .newnode {
        background-color: #9400d3;
    }
    .newnode:hover {
        background-color: #a600ed;
    }
    .inputnode {
        background-color: green;
    }
    .inputnode:hover {
        background-color: #009a00;
    }
    .algorithmnode {
        background-color: #D75813;
    }
    .algorithmnode:hover {
        background-color: #eb6319;
    }
    .structurenode{
        background-color: #2f4f4f;
    }
    .structurenode:hover{
        background-color: #395f5f;
    }
    .debugnode{
        background-color: #9400d3;
    }
    .debugnode:hover {
        background-color: #a600ed;
    }
    .outputnode {
        background-color: #AB0000;
    }
    .outputnode:hover {
        background-color: #C50000;
    }
    .languagenode {
        background-color: #D75813;
    }
    .languagenode:hover {
        background-color: #eb6319;
    }
    .buttonlight {
        background-color: rgba(200,200,200,0.7);
        color: #333333;
    }
    .buttonlight:hover {
        text-decoration: none;
        color: #333333;
        background-color: rgba(250,250,250,0.8);
    }
    .buttondark {
        background-color: rgba(100,100,100,0.7);
        color: white;
        display: none;
    }
    .buttondark:hover {
        text-decoration: none;
        background-color: rgba(50,50,50,0.8);
        color: white;
        display: none;
    }
    .buttondev {
        background-color: darkviolet;
        color: white;
    }
    .buttondev:hover {
        text-decoration: none;
        background-color: violet;
        color: white;
    }
    .pinput {
        background-color: #444444;
        border-width: 0px; 
        border-bottom-width: 2px;
        border-color: #D75813;
        border-style: solid;
        width: 100%;
        padding-top: 0.4em;
    }
    .hinput {
        background-color: #444444;
        border-width: 0px; 
        border-bottom-width: 2px;
        border-color: #D75813;
        border-style: solid;
        width: 100%;
        padding-top: 0.4em;
    }
    .src {
        background-color: #444444;
        border-width: 1px; 
        border-color: #D75813;
        border-style: solid;
        width: 100%;
        min-height: 80%;
        padding-top: 0.4em;
    }
    .CodeMirror {
        height: 82%;
    }
